body{
    margin: 0;
}

main{
    width: 800px;
    height: 800px;
    background: black;
    opacity: 1;
}

.block{
    float:left;
}

#omhulsel{
    width: 82px;
    height: 792px;
    background: pink;
    Margin-left:8px;
}
#omhulsel1{
    width: 82px;
    height: 792px;
    background: pink;
    Margin-left:8px;
}

#block-01{
    width: 82px;
    height: 792px;
    background: blue;
    Margin-left:8px;
}

#block-02{
    width: 305px;
    height: 226px;
    background: white;
    margin-left: 8px;
}

#block-03{
    width: 305px;
    height: 555px;
    background: white;
    margin-left: 8px;
    margin-top:-555px;
}

 #block-04{
        width: 388px;
        height: 790px;
        background: yellow;
        margin-left: 8px;
}

#block-05{
    width: 388px;
    height: 790px;
    background: black;
    margin-left: 8px;
}
#block-06{
    width: 388px;
    height: 790px;
    background: red;
    margin-left: 8px;
}
#block-07{
    width: 388px;
    height: 790px;
    background: white;
    margin-left: 8px;
}
#block-08{
    width: 388px;
    height: 790px;
    background: blue;
    margin-left: 8px;
}